/*CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, input, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

/*Layouts *****************************************************************/

html {
  height: 100%;
}

body {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  min-height: 100%;
}

header {
  height: 267px;
  padding: 1px 0;
 }

#singin {
  position: absolute;
  left: 50px;
  top: 29px;
}

#singin #login,
#singin #password {
  display: block;
  height: 7px;
  width: 51px;
  margin-left: 40px;
}
#singin #login {
  margin-top: -11px;
}

#singin #password {
  margin-top: -12px;
}

#submit {
  margin-top: 10px;
}

#leftPointer {
  position: absolute;
  margin-top: 172px;
  margin-left: 194px;
  height: 15px;
  width: 16px;
}

#leftPointer:hover {
  position: absolute;
  height: 15px;
  width: 16px;
}

#rightPointer {
  position: absolute;
  margin-top: 172px;
  margin-left: 791px;
  margin-right: 103px;
  height: 15px;
  width: 16px;
}

#rightPointer:hover {
  position: absolute;
  height: 15px;
  width: 16px;
}

#contacts {
  position: absolute;
  margin-top: 30px;
  margin-left: 872px;
  margin-right: 49px;
}

#rss {
  position: absolute;
  margin-top: 172px;
  margin-left: 50px;
}

#print {
  position: absolute;
  margin-top: 175px;
  margin-left: 895px;
  height: 13px;
  width: 14px;
}

#mailto {
  position: absolute;
  margin-top: 175px;
  margin-left: 916px;
  height: 13px;
  width: 14px;
}

#sitemap {
  position: absolute;
  margin-top: 175px;
  margin-left: 936px;
  height: 13px;
  width: 14px;
}

#languages {
  position: relative;
  margin: 135px auto;
  width: 550px;
  height: 53px;
}

#de, #es, #it,
#en, #fr, #nl {
  position: absolute;
}

#de {
  margin-top: 10px;
 }

#de span {
  position: absolute;
  margin-top: 25px;
  margin-bottom: 100px;
  margin-left: -10px;
}

#es {
  margin-top: 2px;
  margin-left: 90px;
}

#es span {
  position: absolute;
  margin-top: 27px;
  margin-bottom: 100px;
  margin-left: -15px;
}

#it {
  margin-left: 180px;
}

#it span {
  position: absolute;
  margin-top: 25px;
  margin-bottom: 100px;
  margin-left: -20px;
}

#en {
  margin-left: 280px;
}

#en span {
  position: absolute;
  margin-top: 25px;
  margin-bottom: 100px;
  margin-left: -15px;
}

#fr {
  margin-top: 2px;
  margin-left: 373px;
}

#fr span {
    position: absolute;
    margin-top: 27px;
    margin-bottom: 100px;
    margin-left: -20px;
}

#nl {
  margin-top: 10px;
  margin-left: 463px;
}

#nl span {
  position: absolute;
  margin-top: 25px;
  margin-bottom: 100px;
  margin-left: -20px;
}

.container {
  overflow: hidden;
  width: 900px;
  margin: 0 auto;
}

#verticalMenu {
  float: left;
  width: 19.444444444%;
  padding-left: 10px;
}

#verticalMenu ul li {
  margin-bottom: 1em;
}

#content {
  float: left;
  width: 60%;
  padding-bottom: 30px;
}

#content div img {
  float: left;
}

#content h2,
#content h3,
#content p {
  padding-left: 13%;
}

#content > div {
  margin: 0 0 10px 0;
}

#einstein {
  float: right;
  width: 19.444444444%;
}

#horizontalMenu {
  position: absolute;
  margin: -50px 50px 50px 50px;
  white-space: nowrap;
  width: 90%;
}

#horizontalMenu ul li{
  display: inline-block;
  width: 9%;
  margin-right: 23px;
  letter-spacing: -.1em;
}


#footer {
  background: url(Pictures/footer.png) no-repeat;
  position: absolute;
  margin: 0 50px;
  bottom: 0;
  height: 28px;
  width: 100%;
}
/*Colors ******************************************************************************************************/
header {
  background: url(Pictures/titleBackground.png) white center no-repeat;
}

h2 {
  color: #0094d9;
}

h3 {
  color: #a9bdd4;
}

#content p {
  color: #4d8eb5;
}

#singin {
  color: #a9bdd4;
}

#submit {
  background: white;
  color: blue;
}

#print {
  background: url(Pictures/print.png) no-repeat;
}
#print:hover {
  background: url(Pictures/printHover.png) no-repeat;
}

#mailto {
  background: url(Pictures/mailto.png) no-repeat;
}

#mailto:hover {
  background: url(Pictures/mailtoHover.png) no-repeat;
}

#sitemap {
  background: url(Pictures/sitemap.png) no-repeat;
}
#sitemap:hover {
  background: url(Pictures/sitemapHover.png) no-repeat;
}

#leftPointer {
  background: url(Pictures/Pointers/leftPointerInactive.png) no-repeat;
}

#leftPointer:hover {
  background: url(Pictures/Pointers/leftPointerActive.png) no-repeat;
}

#rightPointer {
  background: url(Pictures/Pointers/rightPointerInactive.png) no-repeat;
}

#rightPointer:hover {
  background: url(Pictures/Pointers/rightPointerActive.png) no-repeat;
}

#de, #es, #it,
#en, #fr, #nl {
  color: #0094d9;
}

#horizontalMenu a{
  color: #0094d9;
}

/*Fonts *********************************************************************************************************/
body {
  font: 1em Times sans-serif;
}

#singin {
  font-size: 60%;
  letter-spacing: -.1em;
}

#submit {
  font-size: 110%;
}

#de, #es, #it,
#en, #fr, #nl {
  font-size: 57%;
}

#horizontalMenu {
  font-size: 70%;
}

#verticalMenu {
  font-size: 70%;
  letter-spacing: -.1em;
}

#content h2 {
  font-size: 90%;
  letter-spacing: -.1em;
}

#content h3 {
  font-size: 50%;
}

#content p {
  font-size: 60%;
  line-height: 1.5em;
}

/*Misc **********************************************************************************************************/
#login,
#password {
  border: 1px dotted #a9bdd4;
  border-radius: 2px;
}

a {
  text-decoration: none;
}

#submit {
  border: 0;
  text-decoration: underline;
}

a:hover, span:hover {
  text-decoration: underline;
}

