/*CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, input, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

/*Layouts *****************************************************************/

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    position: relative;
}

.header { height:267px; overflow:hidden; position:relative; background:url("pictures/titleBackground.png") white center 0 no-repeat; }

.login { display:inline-block; margin-top:30px; color:#a9bdd4; font-size:60%; }
.login input { width:51px; height:7px; display:block; margin-left:40px; margin-top:-11px; }
.login button { margin-top:10px; color:blue; font-size:110%; text-decoration:underline; border:0; background:white; }

.contacts { position:absolute; right:0; top:30px; }

.rss,
.links { bottom:60px; }

.rss { position:absolute; left:50px; }

.links { position: absolute; right:0; }

.links div { width:14px; height:13px; display:inline-block; margin-right:6px; cursor:pointer; background-image:url(pictures/links-sprite.png); }
.links div:last-child { margin-right:0; }
.links .print { background-position:-14px 0; }
.print:hover { background-position:-14px -13px; }
.links .mailto { background-position:0 0; }
.mailto:hover { background-position:0 -13px; }
.links .sitemap { background-position:-28px 0; }
.sitemap:hover { background-position:-28px -13px; }


.slider {  }
.slider > div { display:inline-block; }
.slides { width:550px; height:53px; position:relative; }
.arrow { width:16px; height:15px; }
.arrow.left  { background: url("pictures/Pointers/leftPointerInactive.png") no-repeat; }
.arrow.left:hover { background: url("pictures/Pointers/leftPointerActive.png") no-repeat; }
.arrow.right { background: url("pictures/Pointers/rightPointerInactive.png") no-repeat; }
.arrow.right:hover { background: url("pictures/Pointers/rightPointerActive.png") no-repeat; }
.slides > div span { min-width:50px; position:absolute; display:inline-block; margin-top:25px; margin-left:-20px; text-align:center; }
#de, #es, #it,
#en, #fr, #nl {
  position: absolute;
}
#de { margin-top: 10px; }
#es { margin-top: 2px; margin-left: 90px; }
#it { margin-left: 180px; }
#en { margin-left: 280px; }
#fr { margin-top: 2px; margin-left: 373px; }
#nl { margin-top: 10px; margin-left: 463px; }




.container {
  overflow: hidden;
}

#verticalMenu {
  float: left;
  width: 19.444444444%;
  padding-left: 10px;
}

#verticalMenu ul li {
  margin-bottom: 1em;
}

#content {
  float: left;
  width: 60%;
  padding-bottom: 30px;
}

#content div img {
  float: left;
}

#content h2,
#content h3,
#content p {
  padding-left: 13%;
}

#content > div {
  margin: 0 0 10px 0;
}

#einstein {
  float: right;
  width: 19.444444444%;
}

#horizontalMenu {
  position: absolute;
  margin: -50px 50px 50px 50px;
  white-space: nowrap;
  width: 90%;
}

#horizontalMenu ul li{
  display: inline-block;
  width: 9%;
  margin-right: 23px;
  /*letter-spacing: -0.1em;*/
}


#footer {
  background: url("pictures/footer.png") no-repeat;
  position: absolute;
  margin: 0 50px;
  bottom: 0;
  height: 28px;
  width: 100%;
}
/*Colors ******************************************************************************************************/
h2 {
  color: #0094d9;
}

h3 {
  color: #a9bdd4;
}

#content p {
  color: #4d8eb5;
}

#de, #es, #it,
#en, #fr, #nl {
  color: #0094d9;
}

#horizontalMenu a{
  color: #0094d9;
}

/*Fonts *********************************************************************************************************/
body {
  font: 1em Times sans-serif;
}

#de, #es, #it,
#en, #fr, #nl {
  font-size: 57%;
}

#horizontalMenu {
  font-size: 70%;
}

#verticalMenu {
  font-size: 70%;
  /*letter-spacing: -0.1em;*/
}

#content h2 {
  font-size: 90%;
  /*letter-spacing: -0.1em;*/
}

#content h3 {
  font-size: 50%;
}

#content p {
  font-size: 60%;
  line-height: 1.5em;
}

/*Misc **********************************************************************************************************/
#login,
#password {
  border: 1px dotted #a9bdd4;
  border-radius: 2px;
}

a {
  text-decoration: none;
}

a:hover, span:hover {
  text-decoration: underline;
}

